<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo center">Logo</a>
          <ul class="left hide-on-med-and-down">
            <li class="active"><a href="{% url "main:home_page" %}">Home</a></li>

          </ul>
            <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li ><a href="{% url "main:profile" %}">{{ user.username }}</a></li>
                <li ><a href="{% url "main:logout" %}">Logout</a></li>
                <img src="{{ user.profile.user_dp.url }}" width="auto" height="100%">
            {% else %}
                <li ><a href="/login/">Login</a></li>
                <li ><a href="/register/">Register</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>
</div>